# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ccy\Documents\WeChat Files\wxid_ko0l0jb8eayu22\FileStorage\File\2021-07\vueblog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
